<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wenwen.persons.mapper.PersonMapper">
    <insert id="insert" parameterType="com.wenwen.persons.model.Person">
        insert into person (
            personId,
            personName,
            email,
            password,
            activateCode)
        values (
            #{personId, jdbcType=VARCHAR},
			#{personName, jdbcType=VARCHAR},
			#{email, jdbcType=VARCHAR},
			#{password, jdbcType=VARCHAR},
			#{activateCode, jdbcType=VARCHAR})
    </insert>

    <select id="selectActivateCodeByPersonName" resultType="String">
        select p.ActivateCode
        from person p
        where p.personName = #{personName, jdbcType=VARCHAR}
    </select>

    <select id="selectByPersonName" resultType="com.wenwen.persons.model.Person">
        select <include refid="Person_List" />
        from person p
        where p.personName = #{personName, jdbcType=VARCHAR}
    </select>

    <select id="getByNameOrEmail" resultType="com.wenwen.persons.model.Person">
        select <include refid="Person_List"/> from person p where p.personName = #{personName,jdbcType=VARCHAR} or p.email = #{email,jdbcType=VARCHAR}
    </select>

    <update id="updateStatus" >
        update person p set p.status = #{newStatus,jdbcType=VARCHAR} where p.status = #{oldStatus,jdbcType=VARCHAR}
    </update>

    <sql id="Person_List">
        p.personId,
        p.personName,
        p.sex,
        p.birthday,
        p.email,
        p.createtime,
        p.password,
        p.status,
        p.sealedDays
    </sql>
</mapper>